* {
  margin: 0;
  padding: 0;
}
.button {
  display: flex;
}

body {
  height: 100vh;
  width: 100%;
  background: #3e2f2f;
}
H1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #d6bbbb;
  margin: 240px 500px;
}
.Navbar {
  width: 95%;
  height: 60px;
  display: flex;

  justify-content: space-between;
}
.icon,
.dashboardBTN,
.log_signUp {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  margin-left: 60px;
}
.icon > img {
  height: 40px;
}
.empty {
  width: 75%;
}
.dashboardBTN {
  margin-right: 20px;
}
.log_signUp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.dashboardBTN > button {
  border: none;
  border-radius: 15px;
  box-shadow: 5px 5px 0 #604a4a;
  width: 100px;
  height: 30px;
}
.log_signUp > button {
  border-radius: 15px;
  box-shadow: 5px 5px 0 #604a4a;
  height: 30px;
  width: 80px;
  border: none;
}
a {
  color: black;
  text-decoration: none;
}
#MainPage {
  font-size: 50px;
  display: none;
}

.MainConatiner {
  height: 600px;
}
.srch_container {
  padding-left: 50px;
  height: 15%;
  display: flex;
  align-items: center;
}
input {
  border-radius: 20px;
  width: 400px;
  height: 40px;
  padding-left: 20px;
  border: none;
}
.src_bar {
  border-radius: 20px;
  background-color: white;
  display: flex;
  align-items: center;
}

.src_bar > img {
  padding-left: 20px;
  padding-right: 20px;
  height: 30px;
}

#cardContainer {
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  /* padding: 50px; */
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
#bookname{
  font-size: large;
}
#AuthorName{
font-size: large;
}
#cardContainer >p{

margin-block-start: 0;
margin-block-end: 0;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #6d4a25;
}

::-webkit-scrollbar-thumb {
  background: #ffab03;
}

::-webkit-scrollbar-thumb:hover {
  background: #f5aa5a;
}

.card {
  width: 990px;
  height: 170px;
  border-radius: 20px;
  background-color: #a67c52;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #3e2f2f;
  transition: 0.5s ease-out;
  overflow: visible;
}

.card-details {
  color: rgb(255, 255, 255);
  
  gap: 0.5em;
  display: flex;
}
.bookImages{
  margin-top: -10px;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
}
#card_button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #553636;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.text-title {
  font-size: 35px;
  font-weight: bold;
}

.text-body {
  font-size: 30px;
  color: antiquewhite;
}

.card:hover {
  border-color: #a67c52;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover #card_button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

/* Responsiveness */
@media (max-width: 768px) {
  .Navbar {
    width: 95%;
    height: 60px;
    display: flex;

    justify-content: space-between;
  }

  .icon {
    margin-left: 10px;
  }
  .icon > img {
    height: 40px;
  }
  .empty {
    width: 75%;
  }
  .dashboardBTN {
    margin-right: 20px;
  }
  .log_signUp {
    gap: 20px;
  }

  .dashboardBTN > button {
    width: 80px;
    height: 30px;
  }

  button {
    font-size: x-small;
  }
  a {
    font-size: smaller;
  }

  .srch_container {
    padding-left: 50px;
    height: 10%;
  }

  input {
    width: 200px;
    padding-left: 20px;
  }
  #cardContainer {
    max-height: 650px;
    padding: 30px;
  }
  .card {
    height: 350px;

    overflow: hidden;
  }

  .card-details {
    height: 20%;
    gap: 0.5em;
  }

  #card_button {
    width: 100%;
    padding-bottom: 50px;
  }

  #card_button {
    transform: translate(-50%, -10%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #553636;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 1;
    transition: 0.3s ease-out;
  }
  .card:hover #card_button {
    transform: translate(-50%, 10%);
    opacity: 1;
  }
}
